---
import Layout from "../layouts/Layout.astro";
import CreateFlow from "../components/CreateFlow";
---

<Layout title="创建你的 Match Score | Match Score">
    <div class="w-full max-w-3xl mx-auto">
        <CreateFlow client:load />
    </div>
</Layout>
