---
import Layout from "../layouts/Layout.astro";
import MatchFlow from "../components/MatchFlow";
---

<Layout title="匹配灵魂契合度 | Match Score">
    <div class="w-full max-w-3xl mx-auto">
        <MatchFlow client:load />
    </div>
</Layout>
